.contact-line {
  display: flex;
  color: white;
  height: 2em;
  margin-bottom: 5px;
}

.contact-line > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-line_last-name {
  width: 40%;
}

.contact-line_first-name {
  width: 30%;
}