form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0 50px;
}

form label {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  width: 100%;
  color: white;
}

form input {
  display: flex;
  font-size: 1.4em;
  width: 280px;
  border-radius: 5px;
  border: 2px solid green;
}

form input.error {
  border-color: red;
}

form select {
  display: flex;
  font-size: 1.4em;
  max-width: 304px;
  border-radius: 5px;
  border: 2px solid green;
}

select {
  text-transform: capitalize;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 304px;
  appearance: none;
  border-radius: 5px;
  background-color: #84c00c;
  color: #fff;
  border: none;
  font-size: 16px;
  height: 40px;
  margin-top: 30px;
}

.submit-button:hover {
  background-color: #669509;
}

.submit-button:disabled {
  background-color: darkgray;
  color: #333;
}