.delete-button {
  display: flex;
  align-items: center;
  margin: 0 0 0 5px;
  padding: 0 10px;
  font-size: 1em;
  background-color: #BA5A31;
  color: #0C0C0C;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}