.details-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details-wrapper_line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 0;
  height: 3em;
  border: 1px solid #F9CB40;
  border-radius: 5px;
}